
body{
    margin-top: 25px;
    background-color:#CDF0EA ;
}
.Formheading
{
    border: 0.5rem outset pink;
    background-color: #F9F9F9;
    width: 700px;
    height: 600px;
    margin-left: 400px;
}
#formbox
{
    margin-left:30px ;
    margin-right: 30px;
}


.TEXT
{
    margin-top: 40px;
}
.Name
{
    padding-bottom: 20px;
}
.Email
{
    padding-bottom: 20px;
}
.phone
{
    padding-bottom: 20px;;
}
input[type=text]
{
    width: 100%;
    height:30px;
}
input[type=email]
{
    width: 100%;
    height:30px;
}

input[type=number]
{
    width: 100%;
    height:30px;
}
input[type=date]
{
    width:50%;
    height:30px;
}
input[type=time]
{
    width: 50%;
    height:30px;
}
input[type=submit]
{
    width: 100%;
    height:30px;

}
#submits
{
    background-color:pink;
}

